<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>regression</td><td>SeleniumWebdriverNavigate.seleniumNavigate(java.lang.String)[pri:0, instance:com.codistan.seleniumprojectone.SeleniumWebdriverNavigate@1efed156]<br/></td></tr>
<tr><td>smokeTest</td><td>SeleniumWebdriverNavigate.seleniumNavigate(java.lang.String)[pri:0, instance:com.codistan.seleniumprojectone.SeleniumWebdriverNavigate@1efed156]<br/></td></tr>
</table>
