<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="80b678">  <td>20/03/05 21:21:40</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstDatabaseAutomation.getFiveEmployees()[pri:0, instance:com.codistan.databasetesting.FirstDatabaseAutomation@1e6d1014]">getFiveEmployees</td> 
  <td>main@243745864</td>   <td></td> </tr>
<tr bgcolor="80b678">  <td>20/03/05 21:22:01</td>   <td>21228</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstDatabaseAutomation.orbitz()[pri:0, instance:com.codistan.databasetesting.FirstDatabaseAutomation@1e6d1014]">orbitz</td> 
  <td>main@243745864</td>   <td></td> </tr>
</table>
