<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="deb56e">  <td>20/01/14 18:22:03</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TestNgFirstTestCase.bTest()[pri:0, instance:com.codistan.testng.basics.TestNgFirstTestCase@79be0360]">&gt;&gt;bTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1166807841</td>   <td></td> </tr>
</table>
