<h2>Methods that were not run</h2><table>
<tr><td>com.codistan.testng.basics.TestNgFirstTestCase.iETest</td></tr>
<tr><td>com.codistan.testng.basics.TestNgFirstTestCase.chromeTest</td></tr>
<tr><td>com.codistan.testng.basics.TestNgFirstTestCase.fireFoxTest</td></tr>
</table>