<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>Projects.CodistanProjects.JavaTestCases</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tc010</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc011</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc012</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc002</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc013</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc003</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc014</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc004</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc015</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc016</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc005</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc017</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc006</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc007</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc008</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc009</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
