<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="83b5a8">  <td>20/02/15 21:26:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="JavaTestCases.tc001()[pri:0, instance:Projects.CodistanProjects.JavaTestCases@20398b7c]">tc001</td> 
  <td>main@1596467899</td>   <td></td> </tr>
<tr bgcolor="83b5a8">  <td>20/02/15 21:26:58</td>   <td>16</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="JavaTestCases.tc002()[pri:0, instance:Projects.CodistanProjects.JavaTestCases@20398b7c]">tc002</td> 
  <td>main@1596467899</td>   <td></td> </tr>
<tr bgcolor="83b5a8">  <td>20/02/15 21:26:58</td>   <td>24</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="JavaTestCases.tc003()[pri:0, instance:Projects.CodistanProjects.JavaTestCases@20398b7c]">tc003</td> 
  <td>main@1596467899</td>   <td></td> </tr>
<tr bgcolor="83b5a8">  <td>20/02/15 21:26:58</td>   <td>28</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="JavaTestCases.tc004()[pri:0, instance:Projects.CodistanProjects.JavaTestCases@20398b7c]">tc004</td> 
  <td>main@1596467899</td>   <td></td> </tr>
<tr bgcolor="83b5a8">  <td>20/02/15 21:26:58</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="JavaTestCases.tc005()[pri:0, instance:Projects.CodistanProjects.JavaTestCases@20398b7c]">tc005</td> 
  <td>main@1596467899</td>   <td></td> </tr>
<tr bgcolor="83b5a8">  <td>20/02/15 21:26:58</td>   <td>35</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="JavaTestCases.tc006()[pri:0, instance:Projects.CodistanProjects.JavaTestCases@20398b7c]">tc006</td> 
  <td>main@1596467899</td>   <td></td> </tr>
<tr bgcolor="83b5a8">  <td>20/02/15 21:26:58</td>   <td>38</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="JavaTestCases.tc007()[pri:0, instance:Projects.CodistanProjects.JavaTestCases@20398b7c]">tc007</td> 
  <td>main@1596467899</td>   <td></td> </tr>
<tr bgcolor="83b5a8">  <td>20/02/15 21:26:58</td>   <td>43</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="JavaTestCases.tc008()[pri:0, instance:Projects.CodistanProjects.JavaTestCases@20398b7c]">tc008</td> 
  <td>main@1596467899</td>   <td></td> </tr>
<tr bgcolor="83b5a8">  <td>20/02/15 21:26:58</td>   <td>46</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="JavaTestCases.tc009()[pri:0, instance:Projects.CodistanProjects.JavaTestCases@20398b7c]">tc009</td> 
  <td>main@1596467899</td>   <td></td> </tr>
<tr bgcolor="83b5a8">  <td>20/02/15 21:26:58</td>   <td>50</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="JavaTestCases.tc010()[pri:0, instance:Projects.CodistanProjects.JavaTestCases@20398b7c]">tc010</td> 
  <td>main@1596467899</td>   <td></td> </tr>
<tr bgcolor="83b5a8">  <td>20/02/15 21:26:58</td>   <td>54</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="JavaTestCases.tc011()[pri:0, instance:Projects.CodistanProjects.JavaTestCases@20398b7c]">tc011</td> 
  <td>main@1596467899</td>   <td></td> </tr>
<tr bgcolor="83b5a8">  <td>20/02/15 21:26:58</td>   <td>57</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="JavaTestCases.tc012()[pri:0, instance:Projects.CodistanProjects.JavaTestCases@20398b7c]">tc012</td> 
  <td>main@1596467899</td>   <td></td> </tr>
<tr bgcolor="83b5a8">  <td>20/02/15 21:26:58</td>   <td>59</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="JavaTestCases.tc013()[pri:0, instance:Projects.CodistanProjects.JavaTestCases@20398b7c]">tc013</td> 
  <td>main@1596467899</td>   <td></td> </tr>
<tr bgcolor="83b5a8">  <td>20/02/15 21:26:58</td>   <td>64</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="JavaTestCases.tc014()[pri:0, instance:Projects.CodistanProjects.JavaTestCases@20398b7c]">tc014</td> 
  <td>main@1596467899</td>   <td></td> </tr>
<tr bgcolor="83b5a8">  <td>20/02/15 21:26:58</td>   <td>67</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="JavaTestCases.tc015()[pri:0, instance:Projects.CodistanProjects.JavaTestCases@20398b7c]">tc015</td> 
  <td>main@1596467899</td>   <td></td> </tr>
<tr bgcolor="83b5a8">  <td>20/02/15 21:26:58</td>   <td>70</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="JavaTestCases.tc016()[pri:0, instance:Projects.CodistanProjects.JavaTestCases@20398b7c]">tc016</td> 
  <td>main@1596467899</td>   <td></td> </tr>
<tr bgcolor="83b5a8">  <td>20/02/15 21:26:58</td>   <td>79</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="JavaTestCases.tc017()[pri:0, instance:Projects.CodistanProjects.JavaTestCases@20398b7c]">tc017</td> 
  <td>main@1596467899</td>   <td></td> </tr>
</table>
