<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>smokeTest,regression</td><td>SeleniumPracticeExercise1.seleniumPrtExer(java.lang.String)[pri:0, instance:com.codistan.seleniumprojectone.SeleniumPracticeExercise1@694e1548]<br/>OrbitzExercise.orbitzExercise(java.lang.String)[pri:0, instance:com.codistan.seleniumprojectone.OrbitzExercise@1f554b06]<br/>SeleniumFirstTestCase.seleniumFirstCase(java.lang.String)[pri:0, instance:com.codistan.seleniumprojectone.SeleniumFirstTestCase@1c3a4799]<br/></td></tr>
</table>
