<h2>Methods that were not run</h2><table>
<tr><td>com.codistan.seleniumprojectone.SeleniumBrowsers.seleniumBrow</td></tr>
<tr><td>com.codistan.seleniumprojectone.AmazonLinks.amazonLinks</td></tr>
<tr><td>com.codistan.seleniumprojectone.SeleniumSelect.seleniumSe</td></tr>
<tr><td>com.codistan.seleniumprojectone.SeleniumDriverNull.seleniumDriverN</td></tr>
<tr><td>com.codistan.seleniumprojectone.SeleniumWebdriverNavigate.seleniumNavigate</td></tr>
<tr><td>com.codistan.seleniumprojectone.SeleniumPracticeThree.seleniumPracThree</td></tr>
<tr><td>com.codistan.seleniumprojectone.FaceBookTest.faceBookT</td></tr>
</table>