<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a9dace">  <td>20/01/15 20:44:37</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OrbitzExercise.orbitzExercise(java.lang.String)[pri:0, instance:com.codistan.seleniumprojectone.OrbitzExercise@1f554b06]">orbitzExercise</td> 
  <td>TestNG-test=Test-1@1785959556</td>   <td></td> </tr>
<tr bgcolor="c26598">  <td>20/01/15 20:44:37</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SeleniumPracticeExercise1.seleniumPrtExer(java.lang.String)[pri:0, instance:com.codistan.seleniumprojectone.SeleniumPracticeExercise1@694e1548]">seleniumPrtExer</td> 
  <td>TestNG-test=Test-2@430483688</td>   <td></td> </tr>
<tr bgcolor="d878d1">  <td>20/01/15 20:44:37</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SeleniumFirstTestCase.seleniumFirstCase(java.lang.String)[pri:0, instance:com.codistan.seleniumprojectone.SeleniumFirstTestCase@1c3a4799]">seleniumFirstCase</td> 
  <td>TestNG-test=Test-3@463593783</td>   <td></td> </tr>
</table>
